.container {
  background-color: map(colors, secondary, light);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em 0.25em;
}

.button {
  font-family: map(fonts, family-sans);
  cursor: pointer;
  background-color: map(colors, red, caribe);
  padding: 0.25em 1em;
  color: #fff;
}

.current {
  background-color: map(colors, primary, base);
}