.container {
  font-family: map(fonts, family-sans);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 25em;
  overflow: hidden;
  position: relative;
  border: 1px dashed map(colors, secondary, base);
  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.groups {
  position: relative;
  display: block;
  flex-grow: 1;
}

.description {
  width: 500px;
  display: block;
  font-family: map(fonts, family-sans);
  float: left;
  padding: 1em;
  & p {
    font-size: 14px !important;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.img_container {
  width: 100%;
  @media screen and (max-width: 800px) {
    height: 300px;
  }
}

.flex {
  display: flex;
  height: 500px;

  @media screen and (max-width: 800px) {
    display: block;
    height: auto;
  }
}

.legend {
  position: absolute;
  padding: 1em;
  pointer-events: none;

  & ul {
    list-style: none;
    padding: 0;
  }

  & li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
  }
}

.yellow, .black {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;
}

.yellow {
  background-color: #f6b217;
}

.black {
  background-color: #000;
}